@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<section class="error">
    <div class="container">
        <h1 class="text-danger">Ocorreu um erro.</h1>
        <p>Tente novamente mais tarde.</p>
        @if (Model?.ShowRequestId == true)
        {
            <p><strong>ID da requisição:</strong> <code>@Model.RequestId</code></p>
        }
    </div>
</section>
